*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}
@media only screen and (max-width: tab-land) {
    html {
        font-size: 56.25%;
    }
}
@media only screen and (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
}
@media only screen and (max-width: tab-port) {
    html {
        font-size: 50%;
    }
}
@media only screen and (max-width: 112.5em) {
    html {
        font-size: 75%;
    }
}
@media only screen and (max-width: big-desktop) {
    html {
        font-size: 75%;
    }
}
@media screen and (max-width: 850px) {
    body {
        min-height: 100vh;
        overflow-x: hidden;
        box-sizing: border-box;
        background: url('../img/amirul-bg.png') no-repeat center;     
        background-size: cover;
        line-height: 1.5;
        font-family: "Helvetica", "Arial", sans-serif;
    }
    .nav__list .nav__list--link {
        display: none;
    }
    .nav__left {
        display: none;
    }
    img {
        width: 150px;
        display: block;
        border-radius: 50%;
        margin-bottom: 58px;
    }
    .header__heading {
        font-weight: 500;
        color: #fff;
        font-size: 1.4rem;
        letter-spacing: 1px;
        font-family: 'Baloo 2', cursive;
    }
    .header__content {
        font-weight: 300;
        color: #ffffff;
        width: 20rem;
        text-align: center;
        font-size: 1rem;
        padding: 1rem;
    }
    .header {height: 40rem;
        margin: 0 4rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
    background: url('../img/rsz_bg.png') no-repeat center fixed;     
    background-size: cover;
    line-height: 1.5;
    font-family: "Helvetica", "Arial", sans-serif;
}
img {
    max-width: 200px;
    display: block;
    border-radius: 50%;
}
.nav {
    display: flex;
    flex-flow: wrap;
}
.nav__container {
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__left {
    color: #ffffff;
    font-weight: 400;
    font-size: 28px;
}
.wrapper {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}
h1 {
    color: #fff;
    font-weight: 400;
    font-size: 1.8rem;
}
.header {
    margin: 200px 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    vertical-align:middle;
}
.header__heading {
    font-weight: 500;
    color: #fff;
    font-size: 5rem;
    font-family: 'Baloo 2', cursive;
    margin-top: 50px;
}
.header__content {
    font-weight: 300;
    color: #ffffff;
    width: 40rem;
    font-size: 2rem;
    margin-bottom: 50px;
}
.btn {
    padding: 0.7rem 1.6rem;
    font-weight: 600;
    font-size: 1.4rem;
    color: #fff;
    background: #d71149;
    border: none;
    letter-spacing: 1px;
    border-radius: 0.6rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    line-height: 1.8;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), inset 0 1px 2px 0 rgba(255, 255, 255, 0.35);
    font-family: 'Baloo 2', cursive;
}
.btn.white {
    color: #d71149;
    background: #fff;
}
.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), inset 0 1px 1px 0 rgba(255, 255, 255, 0.5);
}
